<% if mobile_device == "mobile" %>
<style>
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}




.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  top: 0;
  right: 25px;
  font-size: 36px;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>






        <div class="nav-menu">
        <div class="dark-bg sticky-top">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">

                           
                            
                            <img src="/assets/user.png"  onclick="openNav()" style="height:40px; width:40px;">

<a href="/cart">
            <img src="https://cdn4.iconfinder.com/data/icons/online-shopping-31/64/shopping-commerce-supermarket-cart-store-online-512.png" style="height:40px; width:40px;"  alt="ICON">
                           </a>
                            <a class="navbar-brand" style="font-size:20px;" href="/">NearClick</a>
                            
                          <img src="/assets/mi.png" data-toggle="modal" data-target="#myModal" style="height:40px; width:40px;">



                           <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select Your Location</h4>
        </div>
        <div class="modal-body">
          <h1>Hello</h1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
                           

                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <img src="/assets/dots.png" style="height:30px; width:30px;">
              </button>
                            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                     


                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Beauty
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="nav-link" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Makeup
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>


                   <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      
                                            <a class="dropdown-item" href="#">Lips</a>
                                            <a class="dropdown-item" href="#">Face</a>
                                            <a class="dropdown-item" href="#">Nails</a>
                                            <a class="dropdown-item" href="#">Kits</a>
                                            <a class="dropdown-item" href="#">Tools</a>
                                        </div>





                                            <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Skin
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>


                   <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      
                                            <a class="dropdown-item" href="#">Facewash</a>
                                            <a class="dropdown-item" href="#">Toner</a>
                                            <a class="dropdown-item" href="#">Cleaner</a>
                                            <a class="dropdown-item" href="#">Sunscream</a>
                                            <a class="dropdown-item" href="#">Bleach</a>
                                            <a class="dropdown-item" href="#">Body Oil</a>
                                            <a class="dropdown-item" href="#">Scrubs</a>
                                            <a class="dropdown-item" href="#">HandWash</a>
                                            <a class="dropdown-item" href="#">Hair Remover</a>
                                        </div>









                                            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Hair
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>


                   <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      
                                            <a class="dropdown-item" href="#">Shampoo</a>
                                            <a class="dropdown-item" href="#">Conditioner</a>
                                            <a class="dropdown-item" href="#">Serum</a>
                                            <a class="dropdown-item" href="#">Gels</a>
                                            <a class="dropdown-item" href="#">Sprey</a>
                                            <a class="dropdown-item" href="#">Colour</a>
                                            <a class="dropdown-item" href="#">Brushes</a>
                                            <a class="dropdown-item" href="#">Dryer</a>
                                            <a class="dropdown-item" href="#">Straightner Roller</a>
                                        </div>
















                                             <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Shaving
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>


                   <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      
                                            <a class="dropdown-item" href="#">Razors</a>
                                            <a class="dropdown-item" href="#">Shavers</a>
                                            <a class="dropdown-item" href="#">Cream</a>
                                            <a class="dropdown-item" href="#">Brushes</a>
                                            <a class="dropdown-item" href="#">Pre & Post</a>
                                            <a class="dropdown-item" href="#">Moustach Care</a>
                                            <a class="dropdown-item" href="#">Men's Creame</a>
                                        </div>

























                                            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Fragnence
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>


                   <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      
                                            <a class="dropdown-item" href="#">Deodrents</a>
                                            <a class="dropdown-item" href="#">Body Mist</a>
                                            <a class="dropdown-item" href="#">Perfume</a>
                                        </div>


























                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Electronics
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="#">TV</a>
                                            <a class="dropdown-item" href="#">ACS</a>
                                            <a class="dropdown-item" href="#">Refrigerator</a>
                                            <a class="dropdown-item" href="#">Computer</a>
                                            <a class="dropdown-item" href="#">Laptop</a>
                                            <a class="dropdown-item" href="#">Mobile</a>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Furniture & Decor
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="#">Furnitures</a>
                                            <a class="dropdown-item" href="#">Utensil Shops</a>
                                            <a class="dropdown-item" href="#">Kitchen Appliances</a>
                                            <a class="dropdown-item" href="#">Carpet</a>
                                            <a class="dropdown-item" href="#">Wallpaper</a>
                                        </div>
                                    </li>





                                     <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Grocery
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="#">Beverages</a>
                                            <a class="dropdown-item" href="#">Snacks</a>
                                            <a class="dropdown-item" href="#">Breakfast Items</a>
                                            <a class="dropdown-item" href="#">Lunch Items</a>
                                            <a class="dropdown-item" href="#">Dairy Items</a>
                                            <a class="dropdown-item" href="#">Frozen Foods</a>
                                            <a class="dropdown-item" href="#">Vegetables</a>
                                            <a class="dropdown-item" href="#">Fruits</a>
                                            <a class="dropdown-item" href="#">Household Needs</a>
                                        </div>
                                    </li>




                                     <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Food & Travel
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="#">Restraunts</a>
                                            <a class="dropdown-item" href="#">Fast Food</a>
                                            <a class="dropdown-item" href="#">Lodges</a>
                                            <a class="dropdown-item" href="#">Hotels</a>
                                            <a class="dropdown-item" href="#">Travel Agents</a>
                                        </div>
                                    </li>

                                   

                                   <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Education
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="#">Coching Centers</a>
                                            <a class="dropdown-item" href="#">Home Tutors</a>
                                            <a class="dropdown-item" href="#">Computer Classes</a>
                                            <a class="dropdown-item" href="#">Art Classes</a>
                                            <a class="dropdown-item" href="#">Book Stores</a>
                                        </div>
                                    </li>
                                    
                                   
                                    <% if user_signed_in? %>
                                    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-outline-light top-btn" %></li>
                                    <% else %>
                                    <li><a href="/users/sign_in" class="btn btn-outline-light top-btn">SignUp/SignIn</a></li>
                                    <% end %>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <br>
  <% if user_signed_in? %>
  <p style="text-align:center;">Welcome <%= current_user.username %></p>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>  
  <% else %>
  <p style="text-align:center;">Welcome Guest</p>
  <a href="/users/sign_in">Sign In</a>
  <a href="/users/sign_up">Register</a>
  <% end %>
  <% if current_user&.shop %>
  <a href="/products/new">Add Product</a>
  <%= link_to 'Manage Shop', current_user.shop %>
  <% else %>
  <a href="#">Wishlist</a>
  <% end %>
  <% if current_user&.shop %>
  <%= link_to 'Manage Shop', current_user.shop, class: "btn btn-danger" %>
<% else %>
                        <a href="/shops/new">Add Shop</a>
                        <% end %>
  <a href="/welcome/about">About</a>
  <a href="/welcome/contact">Contact</a>
</div>

<% else %>

<style>
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}




.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  top: 0;
  right: 25px;
  font-size: 36px;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>






        <div class="nav-menu">
        <div class="dark-bg sticky-top">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <span style="font-size:30px;cursor:pointer; color:#fff;" onclick="openNav()">&#9776; </span>
                            <a class="navbar-brand" href="/">NearClick</a>
                          
                           
                           
                           
                            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                     <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/fashion">Fashion</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/electronics">Electronics</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/furniture">Furniture</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/kitchen">Kitchen</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/grocery">Grocery</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/restraunts">Retraunts</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/events">Events</a>
                                    </li>
                                    
                                   
                                    <% if user_signed_in? %>
                                    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-outline-light top-btn" %></li>
                                    <% else %>
                                    <li><a href="/users/sign_in" class="btn btn-outline-light top-btn">SignUp/SignIn</a></li>
                                    <% end %>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>



<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <br>
  <% if user_signed_in? %>
  <p style="text-align:center;">Welcome <%= current_user.username %></p>
  <% else %>
  <p style="text-align:center;">Welcome Guest</p>
  <% end %>
  <% if current_user&.shop %>
  <a href="/products/new">Add Product</a>
  <%= link_to 'Manage Shop', current_user.shop %>
  <% else %>
  <a href="#"><span>0</span> Your Cart</a>
  <a href="#">Wishlist</a>
  <% end %>
  <a href="/welcome/about">About</a>
  <a href="/welcome/contact">Contact</a>
</div>

<% end %>
